{% extends "base.html" %}

{% block content %}
	<div class="ibox-content forum-container">
		<!-- Alert messages -->
		<div class="row">
			<div class="col-md-12">
				{% with messages = get_flashed_messages(with_categories=true) %}
					{% if messages %}
						{% for category, message in messages %}
							<div class="alert {{ category }}" role="alert">
								{{ message }}
							</div>
						{% endfor %}
					{% endif %}
				{% endwith %}
			</div>
		</div>

		<!-- Header for user control panel -->
		<div class="row">
			<div class="col-md-12">
				<h3 class="text-break">Admin panel</h3>
				<p>Here you can view users and edit their user roles.</p>
			</div>
		</div>
		<!-- List all users -->
		{% for row in users %}
			<div class="forum-item">
				<!-- Individual user info -->
				<div class="row">
					<div class="col-md-2">
						<b>User ID</b>
					</div>
					<div class="col-md-10">{{ row.user_id }}</div>
				</div>
				<hr>
				<div class="row">
					<div class="col-md-2"><b>Username</b></div>
					<div class="col-md-4">{{ row.username }}</div>
					<div class="col-md-2"><b>Email</b></div>
					<div class="col-md-4">{{ row.email }}</div>
				</div>
				<hr>
				<div class="row">
					<div class="col-md-2"><b>Registered</b></div>
					<div class="col-md-4">{{ row.account_created.strftime("%d.%m.%Y @ %H:%M") }}</div>
					<div class="col-md-2"><b>Last login</b></div>
					<div class="col-md-4">{{ row.last_login.strftime("%d.%m.%Y @ %H:%M") }}</div>
				</div>
				<hr>
				<div class="row">
					<div class="col-md-2"><b>User role</b></div>
					<div class="col-md-10">
						<form action="/admin/" method="post">
							<label for="user_role_select"></label>
							<select class="form-control-sm" id="user_role_select" name="user_role">
								<option value="ADMIN" {% if row.user_role == "ADMIN" %}selected{% endif %}>
									ADMIN
								</option>
								<option value="SECRET" {% if row.user_role == "SECRET" %}selected="selected"{% endif %}>
									SECRET
								</option>
								<option value="USER" {% if row.user_role == "USER" %}selected="selected"{% endif %}>
									USER
								</option>
								<option value="BANNED"
										{% if row.user_role == "BANNED" %}selected="selected"{% endif %}>
									BANNED
								</option>
								<option value="DELETED"
										{% if row.user_role == "DELETED" %}selected="selected"{% endif %}>
									DELETED
								</option>
							</select>

							<input type="hidden" name="user_id" value="{{ row.user_id }}">
							<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
							<button type="submit" class="btn btn-primary btn-sm float-right"
									name="save_changes" value="{{ row.user_id }}">
								Save changes
							</button>
						</form>
					</div>
				</div>
				<br/>
			</div>
		{% endfor %}
	</div>
{% endblock %}