{% extends "base.html" %}

{% block content %}
    <div class="ibox-content forum-container">
        <div class="row">

			<!-- Header for profile page -->
			<div class="col-md-12">
				<h2>Welcome, {{ username }}</h2>
				<p>Here is your user profile. You can change your username and/or email. Click "delete user" to
					permanently delete your account.</p>
				<br>
			</div>

			<!-- List user info -->
			<div class="col-md-12">
				{% if banned %}
					<div class="row">
						<div class="col-md-12">
							<div class="alert alert-danger" role="alert">
								<b>You are banned!</b> Ban lifts at {{ ban_duration.strftime("%d.%m.%Y %H.%M") }}
							</div>
						</div>
					</div>
					<hr>
				{% endif %}
				<div class="row">
					<div class="col-md-2">
						<b>Username</b>
					</div>
					<div class="col-md-10">{{ username }}</div>
				</div>
				<hr>
				<div class="row">
					<div class="col-md-2">
						<b>Email</b>
					</div>
					<div class="col-md-7">{{ email }}</div>
					<div class="col-md-3">
						<!-- Edit profile -->
						<button type="button" class="btn btn-primary btn-sm float-right" data-toggle="modal"
								data-target="#change_email">
							Change email
						</button>
					</div>
				</div>
				<hr>
				<div class="row">
					<div class="col-md-2">
						<b>Password</b>
					</div>
					<div class="col-md-7">* * * * * * * * * *</div>
					<div class="col-md-3">
						<!-- Edit profile -->
						<button type="button" class="btn btn-primary btn-sm float-right" data-toggle="modal"
								data-target="#change_password">
							Change password
						</button>
					</div>
				</div>
				<hr>
				<div class="row">
					<div class="col-md-2">
						<b>Registered</b>
					</div>
					<div class="col-md-4">{{ registered.strftime("%d.%m.%Y %H.%M") }}</div>
				</div>
				<hr>
				<div class="row">
					<div class="col-md-2">
						<b>Last log in</b>
					</div>
					<div class="col-md-4">{{ last_login.strftime("%d.%m.%Y %H.%M") }}</div>
				</div>
				<hr>
			</div>

			<!-- Delete user -->
			<div class="col-md-12">
				<button type="button" class="btn btn-danger float-right" data-toggle="modal"
						data-target="#delete_profile">
					DELETE USER
				</button>
			</div>

			<!-- Change email popup -->
			<div class="modal fade" id="change_email" tabindex="-1" role="dialog"
				 aria-labelledby="exampleModalLabel"
				 aria-hidden="true" data-backdrop="static">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLabel">
								Change your email adress
							</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<p>Change your current email address by entering a new address
								below and confirm it by entering your <b>current password</b>.</p>
							<form action="/profile" method="POST">
								<div class="form-group">
									<label for="email_1">New email</label>
									<input name="email_1" class="form-control" type="email" value="">
									<label for="email_2">Confirm new email</label>
									<input name="email_2" class="form-control" type="email" value="">
									<hr>
									<label class="text-primary" for="password">
										Enter your current password to save changes</label>
									<input name="password" class="form-control" type="password" value="">
								</div>
								<button type="submit" class="btn btn-primary float-left" name="edit_profile">
									Save edits
								</button>
								<button type="button" class="btn btn-secondary float-right" data-dismiss="modal">
									Cancel
								</button>
							</form>
						</div>
						<div class="modal-footer">
						</div>
					</div>
				</div>
			</div>

			<!-- Change password popup -->
			<div class="modal fade" id="change_password" tabindex="-1" role="dialog"
				 aria-labelledby="exampleModalLabel"
				 aria-hidden="true" data-backdrop="static">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLabel">
								Change your password
							</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<p>Change your current password by entering a new password
								below and confirm it by entering your <b>current password</b>
								or press cancel to exit edit mode.</p>
							<form action="/profile" method="POST">
								<div class="form-group">
									<label for="new_password_1">New password</label>
									<input name="new_password_1" class="form-control" type="password" value="">
									<label for="new_password_2">Confirm new password</label>
									<input name="new_password_2" class="form-control" type="password" value="">
									<hr>
									<label class="text-primary" for="password">
										Enter your current password to save changes</label>
									<input name="password" class="form-control" type="password" value="">
								</div>
								<button type="submit" class="btn btn-primary float-left" name="edit_profile">
									Save edits
								</button>
								<button type="button" class="btn btn-secondary float-right" data-dismiss="modal">
									Cancel
								</button>
							</form>
						</div>
						<div class="modal-footer">
						</div>
					</div>
				</div>
			</div>

			<!-- Delete user confirmation popup -->
			<div class="modal fade" id="delete_profile" tabindex="-1" role="dialog"
				 aria-labelledby="exampleModalLabel"
				 aria-hidden="true" data-backdrop="static">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLabel">
								Delete profile - Please confirm
							</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
                        </div>
                        <div class="modal-body">
                            <p>
                                Do you really want to delete your profile?
                                Your old messages will be left untouched.
                                <b>This action cannot be undone!</b>
                            </p>
                        </div>
                        <div class="modal-footer">
                            <form action="/profile" method="post">
                                <button type="submit" class="btn btn-danger float-left" name="delete_profile">
                                    DELETE PROFILE
                                </button>
                            </form>
                            <button type="button" class="btn btn-secondary ml-auto" data-dismiss="modal">
                                CANCEL
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock %}