{% extends "base.html" %}

{% block content %}
	<div class="ibox-content forum-container">
		<div class="row">
			<!-- Alert messages -->
			<div class="col-md-12">
				{% with messages = get_flashed_messages(with_categories=true) %}
					{% if messages %}
						{% for category, message in messages %}
							<div class="alert {{ category }}" role="alert">
								{{ message }}
							</div>
						{% endfor %}
					{% endif %}
				{% endwith %}
			</div>
			<!-- Header -->
			<div class="col-md-12">
				<h3 class="title">Sign up</h3>
				<hr>
			</div>
			<!-- Sign up form -->
			<div class="col-md-8">
				<form method="POST" action="/signup">
					<div class="form-group">
						<label for="email">Email address</label>
						<input id="email" type="email" class="form-control" name="email">
					</div>
					<div class="form-group">
						<label for="username">Username</label>
						<input id="username" type="text" class="form-control" name="username">
					</div>
					<div class="form-group">
						<label for="password">Password</label>
						<input id="password" type="password" class="form-control" name="password_1">
					</div>
					<div class="form-group">
						<label for="password">Confirm password</label>
						<input id="password" type="password" class="form-control" name="password_2">
					</div>
					<button type="submit" class="btn btn-primary btn-block">Sign up!</button>
				</form>
			</div>
			<!-- Info panel on right -->
			<div class="col-md-4">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title">Hello!</h5>
						<p class="card-text">
							To register an account, please enter your email address (<i>not visible to others</i>),
							preferred username and a secure password.
						</p>
						<p class="card-text">
							Welcome aboard!
						</p>
					</div>
				</div>
			</div>

		</div>
	</div>
{% endblock %}
