{% extends "base.html" %}

{% block breadcrumb %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ category_info.category_name }}</li>
        </ol>
    </nav>
{% endblock %}

{% block content %}
    <div class="ibox-content forum-container">

        <!-- Header for threads -->
        <div class="row">
            <div class="col-md-6">
                <h2>
                    {{ category_info.category_name }}
                </h2>
            </div>
            <div class="col-md-6">
                {% if current_user.is_authenticated %}
                    <form action="/board/{{ category_info.category_id }}/createthread">
                        <button type="submit" class="btn btn-primary float-right">Create a new thread!</button>
                    </form>
                {% endif %}
            </div>
        </div>

        <!-- List all threads -->
        {% for row in threads %}
            <div class="forum-item position-relative">
                <div class="row">
                    <div class="col-md-10">
                        <h5 class="text-truncate">{{ row.thread_name }}</h5>
                    </div>

                    <div class="col-md-2 text-center">
                        <h5>{{ row.messages_count }}</h5>
                    </div>

                    <div class="col-md-10">
                        <p class="text-truncate">
                            <small>{{ row.message_created.strftime("%d.%m.%Y @ %H:%M") }} <br>{{ row.username }}
                                said: {{ row.message_content }}</small>
                        </p>
                    </div>

                    <div class="col-md-2 text-center">
                        <span>
                            <small>Messages</small>
                        </span>
                    </div>

                    <a href="/board/{{ category_info.category_id }}/{{ row.thread_id }}" class="stretched-link"></a>
                </div>
            </div>
        {% endfor %}

    </div>
{% endblock %}