{% extends "base.html" %}

{% block breadcrumb %}
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="/">Home</a></li>
			{% if threads.rowcount %}
				<li class="breadcrumb-item active" aria-current="page">{{ category_info.category_name }}</li>
			{% endif %}
		</ol>
	</nav>
{% endblock %}

{% block content %}
	<div class="ibox-content forum-container">
		<div class="row">
			<div class="col-md-6">
				{% if threads.rowcount %}
					<!-- Header for threads -->
					<h3>{{ category_info.category_name }}</h3>
					<p class="forum-desc">
						Threads: <b>{{ sum_threads }}</b> &thinsp;
						Messages: <b>{{ sum_messages }}</b> &thinsp;
					</p>
				{% endif %}
			</div>
			<div class="col-md-6">
				{% if current_user.is_authenticated %}
					<!-- New thread button -->
					<form action="/board/{{ category_info.category_id }}/createthread">
						<button type="submit" class="btn btn-primary float-right">Create a new thread!</button>
					</form>
				{% endif %}
			</div>

		</div>
		{% if threads.rowcount %}
			<!-- List all threads -->
			{% for row in threads %}
				<div class="forum-item position-relative">
					<!-- Thread name and message count -->
					<div class="row">
						<div class="col-md-12">
							<small>{{ row.message_created.strftime("%d.%m.%Y @ %H.%M") }}</small>
						</div>
					</div>
					<div class="row">
						<div class="col-md-10">
							<h5 class="text-primary text-truncate">{{ row.thread_name }}</h5>
						</div>
						<div class="col-md-2 text-center">
							<h5>{{ row.messages_count }}</h5>
						</div>
					</div>
					<!-- Last message, username and message content -->
					<div class="row">
						<div class="col-md-10">
							<div class="forum-sub-title text-truncate">{{ row.username }}:
								{{ row.message_content }}</div>
						</div>
						<div class="col-md-2 text-center">
                        <span>
                            <small>Messages</small>
                        </span>
						</div>
						<!-- Stretched link -->
						<a href="/board/{{ row.category_id }}/{{ row.thread_id }}" class="stretched-link"></a>
					</div>
				</div>
			{% endfor %}
		{% else %}
			<!-- Show if there are no threads -->
			<div class="forum-item">
				<div class="row">
					<div class="col-md-12">
						<p class="text-center">No threads here!</p>
					</div>
				</div>
			</div>
		{% endif %}
	</div>
{% endblock %}